.btn-group button {
    cursor: pointer; /* Pointer/hand icon */
   /*float: left; /* Float the buttons side by side */
    display: inline-block;
}

.btn-group {
    width: 100%;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: #4F9F52;
    border:1px solid red;
}

.card {
    border: 1px solid black;
    color: black;
    height: 150px;
    width: 100px;
    margin: 5px;
    border-radius: 10px;
    font-size: 30px;
    background-image: url("/img/cards/back_gray.png");
    background-size: cover;
}

.container {
    margin-top: 25px;
}

.playerButtonContainer {
    clear: both;
    width: 100%;
    display: inline-block;
}

.playerDiv {
    width: 40%;
    border: 5px solid black;
}

.column {
    float: left;
    width: 30%;
    text-align: center;
}

/* clearfix */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.playerName {
    background-color: white;
}

.playerName h2 {
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#cardColumn {
    text-align: center;
}

.btn-group {
    display: inline-block;
}

.playerButton {
    width: 300px;
    height: 100px;
    margin: 10px 25px;
    float: left;
}

body {
    background-color: #076324;
    font-family: Verdana, sans-serif;
}